
body {
    background-color: #008A54;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px auto;
    padding: 8px;
}

h3, h1 {
    color: white;
}

ul {
    text-decoration: none;
    list-style: none;
}

li {
    padding: 1px;
}

.default-list {
    background-color: #E4CC37;
    padding: 5px;
}

.main-menu {
    margin: 5px;
}

a {
    text-decoration: none;
    color: #2191FB;
}

a:hover {
  font-weight: bold;  
}